---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html {
    font-size: 16px; // change to whatever
    
    @include breakpoint($medium) {
        font-size: 18px; // change to whatever
    }
    
    @include breakpoint($large) {
        font-size: 18px; // change to whatever
    }
    
    @include breakpoint($x-large) {
        font-size: 18px; // change to whatever
    }
}

code {
    background-color: rgb(230, 230, 230);
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    padding: 2px;
}